:root {
  --white-color: #fff;
  --black-color: #000;
  --grey: #81858e;
  --grey-600: #686c74;
  --blue-gray-500: #7f90a1;
  --blue-gray-600: #647789;
  --blue-gray: #f5f6f7;
  --link-color: #0087d0;
  --link-light-color: #ebf8ff;
  --bg-page: #f9faff;
  --primary-color: #009cf0;
  --card-background: #fff;
  --header-background: #fff;
  --border-color: #d2d3d6;
  --gap: 16px;
  --bradius: 4px;
  --max-width: 1366px;
}
