:root {
  --white-color: #fff;
  --black-color: #000;
  --grey: #81858E;
  --grey-600: #686C74;
  --blue-gray: #F5F6F7;
  --link-color: #009CF0;
  --link-light-color: #EBF8FF;
  --bg-page: #f9faff;
  --primary-color: #009CF0;
  --card-background: #fff;
  --header-background: #fff;
  --border-color: #D2D3D6;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1366px;
}