@import "global";

.pagination-container {
  list-style: none;
  padding: 0;
  display: flex;

  li {
    padding: 4px 6px;
    min-width: 18px;
    text-align: center;
    cursor: pointer;

    &.active {
      border: 1px solid var(--primary-color);
      color: var(--white-color);
      background-color: var(--primary-color);
      border-radius: 4px;
      cursor: default;
    }
  }

  li:last-child,
  li:first-child {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li:first-child {
    transform: rotate(180deg);
  }
}

@media (max-width: 767px) {
  .pagination-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
    row-gap: calc(var(--gap) * 1.5);
  }
}
