@import "global";

.rc-table {
  margin-bottom: calc(var(--gap) * 1.5);
  table {
    width: 100%;
    border-spacing: 0px;
  }
  &-thead {
    tr {
      background-color: var(--blue-gray);

    }
    th {
      padding: calc(var(--gap) / 2) var(--gap);
      text-align: left;
      color: var(--grey);
      font-size: 16px;
      font-weight: 500;

    }
  }
  &-tbody {
    td {
      padding: calc(var(--gap) / 2) var(--gap);
      text-align: left;
      border-bottom: 1px dashed #D2D3D6;
      color: var(--grey-600);
      .unique-text {
        color: var(--grey-600);
      }
    }
  }
  &-placeholder {
    td {
      text-align: center;
      color: var(--grey);
      padding: var(--gap) 0 !important;
    }
  }
}
