@import "global";

.rc-table {
  margin-bottom: calc(var(--gap) * 1.5);

  table {
    width: 100%;
    border-spacing: 0;
  }

  &-thead {
    tr {
      background-color: var(--blue-gray);
    }

    th {
      padding: calc(var(--gap) / 2) var(--gap);
      text-align: left;
      color: var(--grey);
      font-size: 16px;
      font-weight: 500;
    }
  }

  &-tbody {
    td {
      padding: calc(var(--gap) / 2) var(--gap);
      text-align: left;
      font-size: 16px;
      border-bottom: 1px dashed #d2d3d6;
      color: var(--grey-600);

      .unique-text[class^="primary-"],
      .unique-text[class*="secondary-"] {
        color: var(--grey-600);
      }
    }
  }

  &-placeholder {
    td {
      text-align: center;
      color: var(--grey);
      padding: var(--gap) 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .rc-table {
    display: none;
  }

  .table-sm {
    margin: var(--gap) 0;

    .row {
      border-bottom: 1px dashed #d2d3d6;

      div {
        margin: var(--gap) 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .title {
        color: var(--blue-gray-600);
      }
    }
  }
}
