@import "styles/global";
@import "styles/pagination";
@import "styles/table";

body {
  margin: 0;
  font-family: Inter;
}

.app-wrapper {
  background: var(--bg-page);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background: var(--header-background);
  margin-bottom: 0;
  padding: calc(var(--gap) / 2) 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.app-container {
  padding: 0 calc(var(--gap) * 3);
  margin: 0 auto;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-header-width);
  }

  &--card {
    background-color: var(--card-background);
    margin: calc(var(--gap) * 2.5) calc(var(--gap) * 3);
    padding: calc(var(--gap) * 2);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-header-width);
  }
}

.app-footer {
  background: var(--header-background);
  padding: calc(var(--gap) / 2) 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  &__info {
    color: var(--grey);
  }

  &__social-links {
    a {
      margin: 0 calc(var(--gap) / 2);
    }
  }
}

@media (max-width: 1024px) {
  .app-wrapper {
    background-color: var(--card-background);
  }

  .app-container {
    padding: 0 calc(var(--gap) * 1.5);

    &--card {
      margin: calc(var(--gap) * 1.5) 0;
      padding: 0 calc(var(--gap) * 1.5);
      box-shadow: none;
    }
  }
  .app-footer {
    border-top: 1px solid #D2D3D6;
  }
}

@media (max-width: 767px) {
  .app-container{
    padding: 0 var(--gap);

    &--card {
      margin: var(--gap) 0;
      padding: 0 var(--gap);
      box-shadow: none;
    }
  }

  .app-footer {
    .app-container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__social-links {
      margin-top: var(--gap);
    }
  }
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
}

a {
  color: var(--link-color);
}

.text {
  &_grey {
    color: var(--grey);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 38px;
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  background-color: var(--primary-color);
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 calc(var(--gap) * 1.5);

  &.icon-right {
    flex-direction: row-reverse;
  }

  &__icon {
    margin-left: var(--gap);
  }
}

.card {
  background: var(--white-color);
  border: 1px solid #DFE0E2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: calc(var(--gap) * 1.5) calc(var(--gap) * 2);
}

.flexbox-container {
  display: flex;
  column-gap: var(--gap);
  align-items: center;
  &_column {
    flex-direction: column;
    row-gap: var(--gap);
    align-items: flex-start;
  }
  &_half-gap {
    column-gap: calc(var(--gap) / 2);
  }
  &_without-gap {
    column-gap: 0;
    row-gap: 0;
  }
  &_space-between {
    justify-content: space-between;
  }
  &_align-start {
    align-items: flex-start;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--gap);

  @for $i from 1 to 12 {
    .grid-item_col#{$i} {
      grid-column: span #{$i};
    }
  }
}

.container-with-border {
  padding-bottom: calc(var(--gap) * 2);
  border-bottom: 1px dashed #D2D3D6;
}

.margin-top {
  margin-top: var(--gap);
}

.margin-bottom {
  margin-bottom: var(--gap);
}
