@import "styles/global";
@import "styles/pagination";
@import "styles/table";
@import "styles/block";

body {
  margin: 0;
  font-family: Inter;
}

.app-wrapper {
  background: var(--bg-page);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--blue-gray-500);
  line-height: 22px;
  &__social-links {
    display: flex;
    column-gap: var(--gap);
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.text {
  &_grey {
    color: var(--grey);
  }
}

.card {
  background: var(--white-color);
  border: 1px solid #DFE0E2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: calc(var(--gap) * 1.5) calc(var(--gap) * 2);
}

.picture {
  img {
    max-width: 174px;
  }
}

.flexbox-container {
  display: flex;
  column-gap: var(--gap);
  align-items: center;

  &_column {
    flex-direction: column;
    row-gap: var(--gap);
    align-items: flex-start;
  }

  &_half-gap {
    column-gap: calc(var(--gap) / 2);
  }

  &_without-gap {
    column-gap: 0;
    row-gap: 0;
  }

  &_space-between {
    justify-content: space-between;
  }

  &_align-start {
    align-items: flex-start;
  }

  &_wrap {
    flex-wrap: wrap;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--gap);

  @for $i from 1 to 12 {
    .grid-item_col#{$i} {
      grid-column: span #{$i};
    }
  }

  &_account-container {
    grid-template-columns: 85px repeat(11, 1fr);
    grid-row-gap: var(--gap);
    .grid-item_col1:nth-child(3) {
      margin-top: calc(var(--gap) / 2);
    }
    .grid-item_col11:nth-child(4) {
      margin-top: calc(var(--gap) / 2);
    }
  }

  &_extrinsic-container {
    font-size: 16px;
    line-height: 20px;
    padding: calc(var(--gap) * 1.5) 0 !important;
    grid-template-columns: 85px repeat(11, 1fr);
    grid-row-gap: var(--gap);
    &:nth-child(2) {
      padding-top: 0 !important;
    }
  }
}

.container-with-border {
  padding-bottom: calc(var(--gap) * 2);
  border-bottom: 1px dashed #D2D3D6;
}

.extrinsic-block-container {
  padding-bottom: calc(var(--gap) * 1.5) !important;
  margin-bottom: calc(var(--gap) * 1.5) !important;
}

.main-block-container {
  padding-top: calc(var(--gap) * 2);
}

.full-width {
  width: 100%;
}

.margin-top {
  margin-top: var(--gap);
}

.margin-bottom {
  margin-bottom: var(--gap);
}

.search-wrap {
  display: flex;
  .input-width-612 {
    box-sizing: border-box;
    width: 612px;
    margin-right: calc(var(--gap) / 2);
  }
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.2;}
  100% {opacity: 1;}
}

.text_right {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.chain-logo {
  background: white;
  border-radius: 50%;
  box-sizing: border-box;

  &.isInline {
    display: inline-block;
    height: 24px;
    margin-right: 0.75rem;
    vertical-align: middle;
    width: 24px;
  }
}

@media (max-width: 1024px) {

  .unique-layout footer {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .app-footer {
    flex-direction: column;
    align-items: flex-start;
    &__social-links {
      margin-top: var(--gap);
    }
  }

  .unique-layout footer {
    margin-top: 40px;
    padding: 16px !important;
    height: 100px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
  }

  .search-wrap {
    width: 100%;
    .unique-input-text {
      width: 100%;
      margin-right: 0;
    }
    button.unique-button {
      display: none;
    }
  }

  .grid-container_account-container {
    grid-row-gap: 0;
    .grid-item_col1:not(:first-child) {
      grid-column: span 11;
      margin-top: var(--gap);
    }
    .grid-item_col1:nth-child(3) {
      margin-top: calc(var(--gap) * 1.5);
    }
    .grid-item_col1:not(:first-child) {
      grid-column: span 11;
    }
    .grid-item_col11:last-child {
      flex-direction: column;
      align-items: flex-start;
      span:not(:first-child) {
        margin-top: calc(var(--gap) / 4);
      }
    }
  }

  .grid-container_extrinsic-container {
    grid-row-gap: 0;
    .grid-item_col1 {
      grid-column: span 11;
    }
    .grid-item_col1:not(:first-child) {
      margin-top: var(--gap);
    }
    .grid-item_col11 {
      margin-top: calc(var(--gap) / 4);
    }
  }
}
