.block {
  &__table {
    &-title {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .block {

    .unique-tabs-items {
      display: flex ;
      flex-direction: column;
      .tab-item {
        display: flex;
        min-width: 100%;
        max-width: 100%;
        border-radius: 0;
        border: 1px solid #009cf0;
        &:first-child {
          border-radius: 4px 4px 0 0;
        }
        &:last-child {
          border-radius: 0 0 4px 4px;
        }
      }
    }


    table {
      display: block;
    }
    .rc-table {
      display: block;
    }
    .rc-table-thead {
      display: none;
    }
    .rc-table-tbody {
      display: block;
    }
    .rc-table-row {
      display: flex;
      flex-direction: column;
      //min-width: 100vw;
      .rc-table-cell {
        border: none;
        padding: 8px 0;

        &:last-child {
          border-bottom: 1px dashed #D2D3D6;
          padding-bottom: 16px;
        }
        &:first-child {
          padding-top: 16px;
        }
      }
    }
    &__table {
      display: flex;
      flex-direction: column;
      &-title {
        display: block;
        margin-bottom: 4px;
      }
    }
    &__text-wrap {
      max-width: 100%;
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    .grid-container {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      .grid-item_col2,
      .grid-item_col10
      {
        grid-column: span 12;
      }
      .grid-item_col2 {
        margin-bottom: 4px;
      }
      .grid-item_col10 {
        margin-bottom: 16px;
      }
    }
  }

}
